
body{background-color: #000000;}
/* span{font-style: italic;} */
.text1{color:blueviolet }
.image-file{max-width: 90px;}
p {color: azure; font-size: 30px;}
a{color: azure; font-size: 30px;}
.ol_1{color:aliceblue; font-size: 30px;}
/* li{color:aliceblue; font-size: 30px;} */
img{max-width: 250px;}

.server-inf{
font-size: 30px;
color: aliceblue;

}



.logo{
    /* background-color: rgb(91, 28, 149); */
     
    
    background-image: url(logo_detail.png);
    background-size: 100% auto;
    /* position: absolute; */
    /* width: 80px; */
    /* height: 585px; */

    
}
.frame{
    display: block;
    background-color: rgb(34, 34, 34);
    height: 20%;
}
.text{
    text-align: center;
    color: aqua;
}

p{ 
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.two{
    display: flex;
    padding: 0px;
   
}
.tools{
    /* background-color:rgb(23, 23, 32); */
    display: inline-block;
    width: 20%;
    height: 3000px;
    /* position: static; */
   padding-right: 3%;
   padding-top: 1%;
   background: url(plastic-9.png);

}


.info{
    background-color:#201e27;
    display: inline-block;
    /* position: fixed; */
    align-items: center;
    width: 75%;
    height: 3000px;
    padding-top: 1%;
    padding-left: 3%;

    border: 8px  ;
    border-style: initial;
}

.button{
    font-size: 32px;
    color: aqua;
    padding: 30px;
    height: 128px;
    width: 256px;

    /* background-image: url(\static\UI_Dark_LAB\button.png); */
    background: url(button.png);
    /* background-clip: url(button.png); */
}

.NewButton{
    font-size: 32px;
    color: aqua;
    /* padding: 0px; */
    /* height: 10%; */
    width: 100%;
    /* background: url(button.png); */
    /* margin-top: 1rem; */
    /* background-color: blueviolet; */
    
}

.neuro-module{

    /* background-color: aliceblue; */
    border-width: 5px;
    border-color: rgb(98, 0, 255);
    border-style:outset;
    padding: 6px;
}

.attetion{
    border-width: 3px;
    border-color: rgb(98, 0, 255);
    border-style:dashed;
    padding: 6px;
}